**/__pycache__/
tools/astran/Astran/build/Release/**
tools/astran/Astran/build/bin/Astran
tools/astran/wxSightGL/build/bin/wxsightgl
tools/iCell/_internal
AutoCellLibX/outputs*/**
AutoCellLibX/originaliCellStdCells/
src/originalAstranStdCells
src/originaliCellStdCells
src/outputs*/**
**/*.lp
**/*.sol
**/gurobi.log
build/
build2/
benchmark/
stdCellLib/volare/
outputs/



