__pycache__/
tools/astran/Astran/build/Release/**
tools/astran/Astran/build/bin/Astran
tools/astran/wxSightGL/build/bin/wxsightgl
AutoCellLibX/outputs*/**
src/outputs*/**

*.lp
*.sol
**/gurobi.log
build/
build2/
stdCellLib/

src/originalAstranStdCells
src/originaliCellStdCells