**/__pycache__/
tools/astran/Astran/build/Release/**
tools/astran/Astran/build/bin/Astran
tools/astran/wxSightGL/build/bin/wxsightgl
tools/iCell/_internal

*.lp
*.sol
**/gurobi.log
build/
build2/
stdCellLib/volare/

src/originalAstranStdCells
src/originaliCellStdCells
src/outputs*/**

AutoCellLibX/outputs*/**
AutoCellLibX/originaliCellStdCells/